page-collect-cash {
    .toolbar-title.toolbar-title-md {
        font-size: 1.5rem;
    }
    .paddclass{
        padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    margin-top: 20px;
    font-size:17px;
    }
}
