page-profile {

   
  #profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 150px;
    height: 150px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  }
  .toolbar-title.toolbar-title-md {
    font-size: 1.5rem;
}
}
